@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Short Stack", sans-serif !important;

}
.Main {
    margin: 0;
    padding: 0;
    overflow: hidden;

}
.img_bg {
    background: rgb(45, 133, 222);
    padding: 10px 100px;
}
.img_bg2 {
    margin-left: -12px;
}

.signIn {
    width: 70%;
    margin: 5% auto;
    background: transparent;
    padding: 70px;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 56px, rgba(17, 17, 26, 0.1) 0 24px 80px;
}
input, input:focus {
    outline: none !important;
    box-shadow: none !important;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #F4F5F6;
    color: rgba(0, 0, 0, 0.438);
    width: 100%;
}

::placeholder {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.linkText {
    text-decoration: none;
    color: #ffffff;
}
.linkText2 {
    text-decoration: none;
    color: #2D85DE;
}

.linkBtn {
    width: 100%;
    background-color: #2D85DE;
    color: #ffffff;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    padding: 10px;
    border: none;
    font-family: "Short Stack", sans-serif;
}
.linkBtn2 {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    padding: 10px;
    border: none;
    font-family: "Short Stack", sans-serif;
}

@media screen and (max-width: 650px) {
    .signIn {
        width: 100%;
    }

    .welcome_img {
        height: 100%;
    }

    .img_bg {
        padding: 10px 20px;
    }
}